@CHARSET "ISO-8859-1";

/* dimensios for both splash image and the player wrapper */
a.flowplayer, a.flowplayer img {
	position:absolute;
	display:block;
	border:0px;		
}

/* play button on top of splash screenn */
div.playButton {
	background:url(../skin/play.png) no-repeat;
	width:50px;
	height:50px;
	position:absolute;
	top:50%;
	left:50%;
	opacity:0.9;
}

/* play button upon mouseover */
div.playButton:hover {
	opacity:1.0;		
}

.less {
	color:#999;
	font-size:12px;
}