<div id="registration_box">
<div class="registration_welcome">Registration</div>
<form method="post" action="">

<div>
	<p>Welcome to the registration page</p>
	You need to complete the following steps
		<ul>
			<li>To register you must fill in the security code below, this is to prevent computers from registering automaticaly</li>
			<li>You need to choose a unique username for you (You could use an email address or nickname)</li>
			<li>A password will be generated for you and emailed to the address you put in below, you can change this latter</li>
			<li>You need to login with in 28 days of recieving the email or re-complete the form</li>
		</ul>
	
</div>
<div>Security Code: <br /><img src="**CMS**DocumentRoot/capthca" alt="Security Image" /><br /><input id="security_code" name="security_code" type="text" /></div>
<p>If you can not read the security image reload the page</p>

<div>Username: </div><div><input type="text" id="username" name="username" /><input type="button" onclick="" value="Check" /></div>
<div>E-Mail Address: </div><div><input type="text" id="email" name="email" /></div>

<div class="login_button"><input type="submit" value="Register" /></div>
</form>

</div>