<Files test>
ForceType application/x-httpd-php
</Files>

RewriteEngine on
RewriteCond %{REQUEST_URI}  !^/index.php/.*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php/$1


DirectoryIndex index.php