<div id="login_box">
<div class="login_welcome">Logins require the use of cookies</div>
<form method="post" action="" id="login">
<div>Username: </div><div><input type="text" id="username" name="username" value="**CMS**username" /></div>
<div>Password: </div><div><input type="password" id="password" name="password" /></div>
<div>Security Code: <br /><img  src="**CMS**DocumentRoot/capthca" alt="Security Image" /></div>
<div><input id="security_code" name="security_code" type="text" /></div>
<div class="login_button"><input type="submit" value="Login"/></div>
<div>Remember my username: <input id="login_rememberme" name="login_rememberme" type="checkbox" value="true" **CMS**remembered /></div>
<p><strong>Do not use remember me on a public computer as this will store your username in a permanent cookie</strong></p>
</form>
<p>If you can not read the security image reload the page</p>
<p>Your unique session ID is stored in a cookie. The cookie's used do not contain any personal details, only the session ID</p>
</div>