<div id="login_box">
<div class="login_welcome">Login Box</div>
<form method="post" action="">
<div>Username: </div><div><input type="text" id="username" name="username" value="**CMS**username" /></div>
<div>Password: </div><div><input type="password" id="password" name="password" /></div>
<div class="login_button"><input type="submit" value="Login" /></div>
<div>Remember my username: <input id="login_rememberme" name="login_rememberme" type="checkbox" **CMS**remembered /></div>
--Do not do this on a public computer--
</form>
</div>