This CMS currently requires

//PHP related
PHP 5.2 ish

	PECL / PEAR
	SimpleXML (PHP Core 5.2+)
	Tidy
	MDB2
	XML/Serializer.php
	PHP xsltProcessor
	
	GD and FreeType libraries
	
	mcrypt //Pref
	text_diff //Pref
	Hash //Optional

//Database related
MySQL (or SQL server that supports the LIMIT call)



In Debian
apt-get install php-xml-serializer php-xml-parser php5-xsl php5-mysql

pear install MDB2
pear install pear/MDB2#MySQLi

pear install text_diff etc