.sprite{height:16px; width:18px; background:url(?ctl=/skin/csg-4c503a95327c5.png) no-repeat center center; border:0px; cursor:pointer; position:relative; top:3px; left:1px}
.sprite-accept { background-position: 0 0; width: 16px; height: 16px; } 
.sprite-add { background-position: 0 -46px; width: 16px; height: 16px; } 
.sprite-application_add { background-position: 0 -92px; width: 16px; height: 16px; } 
.sprite-application_cascade { background-position: 0 -138px; width: 16px; height: 16px; } 
.sprite-application_delete { background-position: 0 -184px; width: 16px; height: 16px; } 
.sprite-application_edit { background-position: 0 -230px; width: 16px; height: 16px; } 
.sprite-application_error { background-position: 0 -276px; width: 16px; height: 16px; } 
.sprite-application_form { background-position: 0 -322px; width: 16px; height: 16px; } 
.sprite-application_side_list { background-position: 0 -368px; width: 16px; height: 16px; } 
.sprite-arrow_branch { background-position: 0 -414px; width: 16px; height: 16px; } 
.sprite-arrow_divide { background-position: 0 -460px; width: 16px; height: 16px; } 
.sprite-arrow_down { background-position: 0 -506px; width: 16px; height: 16px; } 
.sprite-arrow_join { background-position: 0 -552px; width: 16px; height: 16px; } 
.sprite-arrow_left { background-position: 0 -598px; width: 16px; height: 16px; } 
.sprite-arrow_merge { background-position: 0 -644px; width: 16px; height: 16px; } 
.sprite-arrow_redo { background-position: 0 -690px; width: 16px; height: 16px; } 
.sprite-arrow_refresh { background-position: 0 -736px; width: 16px; height: 16px; } 
.sprite-arrow_refresh_small { background-position: 0 -782px; width: 16px; height: 16px; } 
.sprite-arrow_right { background-position: 0 -828px; width: 16px; height: 16px; } 
.sprite-arrow_rotate_anticlockwise { background-position: 0 -874px; width: 16px; height: 16px; } 
.sprite-arrow_rotate_clockwise { background-position: 0 -920px; width: 16px; height: 16px; } 
.sprite-arrow_switch { background-position: 0 -966px; width: 16px; height: 16px; } 
.sprite-arrow_turn_left { background-position: 0 -1012px; width: 16px; height: 16px; } 
.sprite-arrow_turn_right { background-position: 0 -1058px; width: 16px; height: 16px; } 
.sprite-arrow_undo { background-position: 0 -1104px; width: 16px; height: 16px; } 
.sprite-arrow_up { background-position: 0 -1150px; width: 16px; height: 16px; } 
.sprite-attach { background-position: 0 -1196px; width: 16px; height: 16px; } 
.sprite-basket { background-position: 0 -1242px; width: 16px; height: 16px; } 
.sprite-basket_add { background-position: 0 -1288px; width: 16px; height: 16px; } 
.sprite-basket_delete { background-position: 0 -1334px; width: 16px; height: 16px; } 
.sprite-basket_edit { background-position: 0 -1380px; width: 16px; height: 16px; } 
.sprite-basket_error { background-position: 0 -1426px; width: 16px; height: 16px; } 
.sprite-basket_go { background-position: 0 -1472px; width: 16px; height: 16px; } 
.sprite-basket_put { background-position: 0 -1518px; width: 16px; height: 16px; } 
.sprite-basket_remove { background-position: 0 -1564px; width: 16px; height: 16px; } 
.sprite-bell { background-position: 0 -1610px; width: 16px; height: 16px; } 
.sprite-book { background-position: 0 -1656px; width: 16px; height: 16px; } 
.sprite-book_add { background-position: 0 -1702px; width: 16px; height: 16px; } 
.sprite-book_addresses { background-position: 0 -1748px; width: 16px; height: 16px; } 
.sprite-book_delete { background-position: 0 -1794px; width: 16px; height: 16px; } 
.sprite-book_edit { background-position: 0 -1840px; width: 16px; height: 16px; } 
.sprite-cake { background-position: 0 -1886px; width: 16px; height: 16px; } 
.sprite-calculator { background-position: 0 -1932px; width: 16px; height: 16px; } 
.sprite-calculator_add { background-position: -46px 0; width: 16px; height: 16px; } 
.sprite-calculator_delete { background-position: -46px -46px; width: 16px; height: 16px; } 
.sprite-calculator_edit { background-position: -46px -92px; width: 16px; height: 16px; } 
.sprite-calendar { background-position: -46px -138px; width: 16px; height: 16px; } 
.sprite-calendar_add { background-position: -46px -184px; width: 16px; height: 16px; } 
.sprite-calendar_delete { background-position: -46px -230px; width: 16px; height: 16px; } 
.sprite-calendar_edit { background-position: -46px -276px; width: 16px; height: 16px; } 
.sprite-calendar_link { background-position: -46px -322px; width: 16px; height: 16px; } 
.sprite-calendar_view_day { background-position: -46px -368px; width: 16px; height: 16px; } 
.sprite-calendar_view_month { background-position: -46px -414px; width: 16px; height: 16px; } 
.sprite-calendar_view_week { background-position: -46px -460px; width: 16px; height: 16px; } 
.sprite-camera { background-position: -46px -506px; width: 16px; height: 16px; } 
.sprite-cd { background-position: -46px -552px; width: 16px; height: 16px; } 
.sprite-clock { background-position: -46px -598px; width: 16px; height: 16px; } 
.sprite-comment { background-position: -46px -644px; width: 16px; height: 16px; } 
.sprite-comment_add { background-position: -46px -690px; width: 16px; height: 16px; } 
.sprite-comment_delete { background-position: -46px -736px; width: 16px; height: 16px; } 
.sprite-comment_edit { background-position: -46px -782px; width: 16px; height: 16px; } 
.sprite-comments { background-position: -46px -828px; width: 16px; height: 16px; } 
.sprite-computer { background-position: -46px -874px; width: 16px; height: 16px; } 
.sprite-cross { background-position: -46px -920px; width: 16px; height: 16px; } 
.sprite-css { background-position: -46px -966px; width: 16px; height: 16px; } 
.sprite-css_add { background-position: -46px -1012px; width: 16px; height: 16px; } 
.sprite-database { background-position: -46px -1058px; width: 16px; height: 16px; } 
.sprite-database_connect { background-position: -46px -1104px; width: 16px; height: 16px; } 
.sprite-database_edit { background-position: -46px -1150px; width: 16px; height: 16px; } 
.sprite-database_error { background-position: -46px -1196px; width: 16px; height: 16px; } 
.sprite-database_gear { background-position: -46px -1242px; width: 16px; height: 16px; } 
.sprite-database_go { background-position: -46px -1288px; width: 16px; height: 16px; } 
.sprite-database_key { background-position: -46px -1334px; width: 16px; height: 16px; } 
.sprite-database_lightning { background-position: -46px -1380px; width: 16px; height: 16px; } 
.sprite-database_refresh { background-position: -46px -1426px; width: 16px; height: 16px; } 
.sprite-delete { background-position: -46px -1472px; width: 16px; height: 16px; } 
.sprite-disconnect { background-position: -46px -1518px; width: 16px; height: 16px; } 
.sprite-disk { background-position: -46px -1564px; width: 16px; height: 16px; } 
.sprite-dvd { background-position: -46px -1610px; width: 16px; height: 16px; } 
.sprite-email { background-position: -46px -1656px; width: 16px; height: 16px; } 
.sprite-email_add { background-position: -46px -1702px; width: 16px; height: 16px; } 
.sprite-email_delete { background-position: -46px -1748px; width: 16px; height: 16px; } 
.sprite-email_edit { background-position: -46px -1794px; width: 16px; height: 16px; } 
.sprite-email_error { background-position: -46px -1840px; width: 16px; height: 16px; } 
.sprite-email_go { background-position: -46px -1886px; width: 16px; height: 16px; } 
.sprite-email_open { background-position: -46px -1932px; width: 16px; height: 16px; } 
.sprite-exclamation { background-position: -92px 0; width: 16px; height: 16px; } 
.sprite-feed { background-position: -92px -46px; width: 16px; height: 16px; } 
.sprite-feed_add { background-position: -92px -92px; width: 16px; height: 16px; } 
.sprite-feed_edit { background-position: -92px -138px; width: 16px; height: 16px; } 
.sprite-film { background-position: -92px -184px; width: 16px; height: 16px; } 
.sprite-film_add { background-position: -92px -230px; width: 16px; height: 16px; } 
.sprite-film_delete { background-position: -92px -276px; width: 16px; height: 16px; } 
.sprite-film_edit { background-position: -92px -322px; width: 16px; height: 16px; } 
.sprite-group { background-position: -92px -368px; width: 16px; height: 16px; } 
.sprite-group_add { background-position: -92px -414px; width: 16px; height: 16px; } 
.sprite-group_delete { background-position: -92px -460px; width: 16px; height: 16px; } 
.sprite-group_edit { background-position: -92px -506px; width: 16px; height: 16px; } 
.sprite-help { background-position: -92px -552px; width: 16px; height: 16px; } 
.sprite-html { background-position: -92px -598px; width: 16px; height: 16px; } 
.sprite-html_add { background-position: -92px -644px; width: 16px; height: 16px; } 
.sprite-html_delete { background-position: -92px -690px; width: 16px; height: 16px; } 
.sprite-image { background-position: -92px -736px; width: 16px; height: 16px; } 
.sprite-image_add { background-position: -92px -782px; width: 16px; height: 16px; } 
.sprite-image_delete { background-position: -92px -828px; width: 16px; height: 16px; } 
.sprite-image_edit { background-position: -92px -874px; width: 16px; height: 16px; } 
.sprite-image_link { background-position: -92px -920px; width: 16px; height: 16px; } 
.sprite-information { background-position: -92px -966px; width: 16px; height: 16px; } 
.sprite-key { background-position: -92px -1012px; width: 16px; height: 16px; } 
.sprite-lightbulb { background-position: -92px -1058px; width: 16px; height: 16px; } 
.sprite-lightbulb_off { background-position: -92px -1104px; width: 16px; height: 16px; } 
.sprite-link { background-position: -92px -1150px; width: 16px; height: 16px; } 
.sprite-link_add { background-position: -92px -1196px; width: 16px; height: 16px; } 
.sprite-link_edit { background-position: -92px -1242px; width: 16px; height: 16px; } 
.sprite-lock { background-position: -92px -1288px; width: 16px; height: 16px; } 
.sprite-lock_add { background-position: -92px -1334px; width: 16px; height: 16px; } 
.sprite-lock_delete { background-position: -92px -1380px; width: 16px; height: 16px; } 
.sprite-lock_open { background-position: -92px -1426px; width: 16px; height: 16px; } 
.sprite-magifier_zoom_out { background-position: -92px -1472px; width: 16px; height: 16px; } 
.sprite-magnifier_zoom_in { background-position: -92px -1518px; width: 16px; height: 16px; } 
.sprite-money_dollar { background-position: -92px -1564px; width: 16px; height: 16px; } 
.sprite-money_euro { background-position: -92px -1610px; width: 16px; height: 16px; } 
.sprite-money_pound { background-position: -92px -1656px; width: 16px; height: 16px; } 
.sprite-newspaper { background-position: -92px -1702px; width: 16px; height: 16px; } 
.sprite-newspaper_add { background-position: -92px -1748px; width: 16px; height: 16px; } 
.sprite-newspaper_delete { background-position: -92px -1794px; width: 16px; height: 16px; } 
.sprite-note { background-position: -92px -1840px; width: 16px; height: 16px; } 
.sprite-page_add { background-position: -92px -1886px; width: 16px; height: 16px; } 
.sprite-page_copy { background-position: -92px -1932px; width: 16px; height: 16px; } 
.sprite-page_delete { background-position: -138px 0; width: 16px; height: 16px; } 
.sprite-page_edit { background-position: -138px -46px; width: 16px; height: 16px; } 
.sprite-page_excel { background-position: -138px -92px; width: 16px; height: 16px; } 
.sprite-page_white_acrobat { background-position: -138px -138px; width: 16px; height: 16px; } 
.sprite-page_white_actionscript { background-position: -138px -184px; width: 16px; height: 16px; } 
.sprite-page_white_add { background-position: -138px -230px; width: 16px; height: 16px; } 
.sprite-page_white_camera { background-position: -138px -276px; width: 16px; height: 16px; } 
.sprite-page_white_cd { background-position: -138px -322px; width: 16px; height: 16px; } 
.sprite-page_white_code { background-position: -138px -368px; width: 16px; height: 16px; } 
.sprite-page_white_code_red { background-position: -138px -414px; width: 16px; height: 16px; } 
.sprite-page_white_coldfusion { background-position: -138px -460px; width: 16px; height: 16px; } 
.sprite-page_white_compressed { background-position: -138px -506px; width: 16px; height: 16px; } 
.sprite-page_white_text { background-position: -138px -552px; width: 16px; height: 16px; } 
.sprite-page_white_word { background-position: -138px -598px; width: 16px; height: 16px; } 
.sprite-picture { background-position: -138px -644px; width: 16px; height: 16px; } 
.sprite-picture_add { background-position: -138px -690px; width: 16px; height: 16px; } 
.sprite-picture_delete { background-position: -138px -736px; width: 16px; height: 16px; } 
.sprite-picture_edit { background-position: -138px -782px; width: 16px; height: 16px; } 
.sprite-printer { background-position: -138px -828px; width: 16px; height: 16px; } 
.sprite-rss { background-position: -138px -874px; width: 16px; height: 16px; } 
.sprite-rss_add { background-position: -138px -920px; width: 16px; height: 16px; } 
.sprite-rss_delete { background-position: -138px -966px; width: 16px; height: 16px; } 
.sprite-sitemap { background-position: -138px -1012px; width: 16px; height: 16px; } 
.sprite-spellcheck { background-position: -138px -1058px; width: 16px; height: 16px; } 
.sprite-time { background-position: -138px -1104px; width: 16px; height: 16px; } 
.sprite-time_add { background-position: -138px -1150px; width: 16px; height: 16px; } 
.sprite-time_delete { background-position: -138px -1196px; width: 16px; height: 16px; } 
.sprite-user { background-position: -138px -1242px; width: 16px; height: 16px; } 
.sprite-user_add { background-position: -138px -1288px; width: 16px; height: 16px; } 
.sprite-user_comment { background-position: -138px -1334px; width: 16px; height: 16px; } 
.sprite-user_delete { background-position: -138px -1380px; width: 16px; height: 16px; } 
.sprite-user_edit { background-position: -138px -1426px; width: 16px; height: 16px; } 
.sprite-user_female { background-position: -138px -1472px; width: 16px; height: 16px; } 
.sprite-user_suit { background-position: -138px -1518px; width: 16px; height: 16px; } 
