/* CSS Document */
@CHARSET "UTF-8";
html,body
{
	background: #d3caaa url(skin/bg-page.png) repeat-x top;
	margin:0;
	padding:0;
	min-height: 100%;
	height:100%;
}

h3 
{ 
	font: italic normal 12pt georgia; 
	letter-spacing: 1px; 
	margin-bottom: 0px; 
	color: #7D775C;
}

ins { color: green; }

del { color: red; }

a:link 
{ 
	color: MediumBlue ;
}

a:visited 
{ 
	color: MediumBlue ;
}

a.tooltip
{
	position:relative; 
	z-index:100;
	color:#000;
	font-weight:bold;
}

a.tooltip:hover { z-index:1000; }

a.tooltip span { display:none; } /* tooltip is normally invisible */

a.tooltip:hover span
{
	display:block;
	position:absolute;
	left:1em;
	top:-1em;
	width:40em;
	text-decoration:none;
	border:1px solid #ccc;
	background-color:#ff0;
	opacity: 0.8;
	/* CSS For IE filter: alpha(opacity=90); */
}

#jump_to_contents
{
	display:none;
}

#site_frame
{
	position: relative;
	width: 100%;
	max-width:996px;
	height:100%;
	margin: auto;
	margin-bottom: 20px;
	top:0px;
	background-color:#FFFFFF;
	border: 1px solid black;
}

#border
{
	position: relative;
	margin-left:10px;
	margin-right:10px;
	height: 100%;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color:#CCCCCC;	
}

#page_main
{
	position: relative;
	height: 100%;
}

#page_edit
{ 
	position:absolute;
	width:640px;
	left: 10px;
	right: 10px;
	border: 1px solid #ddd;
}

#page_section_banner
{
	position: relative;
	height:104px;
	width:100%;
	background-color:#ff7c7e;
	top:0px;
	background-repeat:repeat-x;
}

#page_section_banner_submenu
{
	bottom:0px;
	position:absolute;
	right:3px;
}

#page_section_middle
{
	position: relative;
	width: 100%;
	height: 100%;
	padding:0;
	margin:0; 
	background-color:#FFFFFF;
}

#page_section_left_col
{
	position: absolute;
	top: 0px;
	left: 0px;
	width:200px;
	height: 100%;
	margin:0; 
	padding:0;
}

#page_section_left_menu
{
	width:100%;
	background-color:#EFEFEF;
	border-right:thin;
	border-right-color:#666666;
}

#page_section_left_utilities
{
	width:100%;
}

#page_section_main
{
	padding:0;
	margin-left: 200px;
	margin-right: 3px;
}

#page_section_body
{
	width: 100%;
}

#page_section_footer
{
	position:absolute;
	bottom:0px;
	width:100%;
	text-align:center;
}

#page_section_admin_bar
{
	background-color:#FFFFFF;
	right:2px;
	top:2px;
	position:absolute;
	margin-left: 5px;
	margin-right: 5px;
}

#account_personal_details
{
	width:250px;
	position:relative;
	top:5px;
	left:5px;
}

#account_personal_details_title
{
	width:100%;
	background-color:#66CCFF;
}

.account_title
{
	display:inline;
}

.account_detail
{
	display:inline;
}

.link
{
	cursor:pointer;
	color:#0066FF;
	text-decoration:none;
}

#debug_text
{
	
}

.footer_text
{
	font-size:x-small;
}

#banner_text
{
	position:absolute;
	left:80px;
	top:20px;
	font-size:x-large;
	color:#FFCC00;
}

#login_background
{
	width:100%;
	height:100%;
	
	background:url(skin/grey.png);
	/* Required for IE but not valid CSS */
	/* filter:alpha(opacity=60); */
	
	/* Transparancy for Gecko browsers */
	opacity:.60;
}


#login_box
{
	position:relative;
	left:50%;
	top: 40px;
	margin-left:-25%;
	border:solid 1px #555;
	border-collapse:collapse;
	padding:10px;
	width: 325px;
	background-color:#FFFFFF;
	color:#000000;
}

#login_button, .login_button
{
	right:5px;
	bottom:2px;
}

#login_welcome, .login_welcome
{
	right:5px;
	bottom:2px;
}

#menu_children, .menu_children
{
	border:#666666;
	border:#333333;
	border-collapse:collapse;
	border:1px;
	min-height: 25px;
}

#menu_top_selected, .menu_top_selected
{
	background-color:#CCCCCC;
	border:#666666;
	border-collapse:collapse;
	border:thin;
	min-height: 25px;
}

#menu_current
{
	background-color:#DDDDDD;
	border:#666666;
	border-collapse:collapse;
	border:thin;
	min-height: 25px;
}

#menu_sub_tab, .menu_sub_tab
{
	background-color:#CCCCCC;
	display:inline;
}

#menu_sub_tab_selected, .menu_sub_tab_selected
{
	background-color:#999999;
	display:inline;
}

#menu_sub_tab_current
{
	background-color:#666666;
	display:inline;
}
.element_admin_header
{
	width:100%;	
}

.element_admin_footer
{
	width:100%;
}

.element_header
{
	background-color:#CCCCCC;
	width:100%;
}

.element_footer
{
	background-color:#CCCCCC;
	width:100%;
}

#editwindow
{
	display:none;
}

.editwindow_open
{
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:1111;
	opacity: 0.8;
}

#searchtext
{
	padding:0;
	width:125px;
	height:22px;
	border-collapse:collapse;
	border-width:thin;
}

#searchbutton 
{
	padding:0; width:66px; height:22px; 
	/* background:url(/skin/search.gif) center no-repeat #efefef;  */
	background-color:#F5F5F5;
	border:none; 
	position:relative; bottom:-3px; left:5px;
	cursor:pointer;
}

#notifications
{
	position:absolute;
	z-index: 9999;
	top: 0px;
	left: 0px;
	width: 100%;
}

.ToolTip-tip {
	color: #000;
	width: 130px;
	z-index: 13000;
}
 
.ToolTip-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #3E4F14;
	padding: 8px 8px 4px;
	background: #C3DF7D;
	border-bottom: 1px solid #B5CF74;
}
 
.ToolTip-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: #CFDFA7;
}

.elementDownload {
	background: #DDDDDD;
}

.elementVideo {
	position:relative;
	display:block;
}
.elementGallery {
	position:relative;
	display:block;
}

.download {
	cursor: pointer;	
}

.image {
	border: 0px;
}

.js-show {
	display: none;
}

.js-hide {
	
}

/* Sprite information */
.sprite {height:16px; width:18px; background: url(skin/csg-47fc8b141e478.png) no-repeat center center; border:0px; cursor:pointer; position: relative; top:3px; left:1px;}
.sprite-accept { background-position: 0 -30px; } 
.sprite-add { background-position: 0 -76px; } 
.sprite-application { background-position: 0 -122px; } 
.sprite-application_add { background-position: 0 -168px; } 
.sprite-application_cascade { background-position: 0 -214px; } 
.sprite-application_edit { background-position: 0 -260px; } 
.sprite-application_error { background-position: 0 -306px; } 
.sprite-application_form { background-position: 0 -352px; } 
.sprite-application_link { background-position: 0 -398px; } 
.sprite-application_side_list { background-position: 0 -444px; } 
.sprite-arrow_branch { background-position: 0 -490px; } 
.sprite-arrow_divide { background-position: 0 -536px; } 
.sprite-arrow_down { background-position: 0 -582px; } 
.sprite-arrow_in { background-position: 0 -628px; } 
.sprite-arrow_join { background-position: 0 -674px; } 
.sprite-arrow_left { background-position: 0 -720px; } 
.sprite-arrow_merge { background-position: 0 -766px; } 
.sprite-arrow_out { background-position: 0 -812px; } 
.sprite-arrow_redo { background-position: 0 -858px; } 
.sprite-arrow_refresh { background-position: 0 -904px; } 
.sprite-arrow_refresh_small { background-position: 0 -950px; } 
.sprite-arrow_right { background-position: 0 -996px; } 
.sprite-arrow_rotate_anticlockwise { background-position: 0 -1042px; } 
.sprite-arrow_rotate_clockwise { background-position: 0 -1088px; } 
.sprite-arrow_switch { background-position: 0 -1134px; } 
.sprite-arrow_turn_left { background-position: 0 -1180px; } 
.sprite-arrow_turn_right { background-position: 0 -1226px; } 
.sprite-arrow_undo { background-position: 0 -1272px; } 
.sprite-arrow_up { background-position: 0 -1318px; } 
.sprite-attach { background-position: 0 -1364px; } 
.sprite-bell { background-position: 0 -1410px; } 
.sprite-book { background-position: 0 -1456px; } 
.sprite-book_addresses { background-position: 0 -1502px; } 
.sprite-book_edit { background-position: 0 -1548px; } 
.sprite-book_open { background-position: 0 -1594px; } 
.sprite-bullet_disk { background-position: 0 -1640px; } 
.sprite-bullet_green { background-position: 0 -1686px; } 
.sprite-cake { background-position: 0 -1732px; } 
.sprite-calendar { background-position: 0 -1778px; } 
.sprite-calendar_add { background-position: 0 -1824px; } 
.sprite-calendar_delete { background-position: 0 -1870px; } 
.sprite-calendar_edit { background-position: 0 -1916px; } 
.sprite-camera { background-position: 0 -1962px; } 
.sprite-cd { background-position: -166px -30px; } 
.sprite-clock { background-position: -166px -76px; } 
.sprite-comment { background-position: -166px -122px; } 
.sprite-comments { background-position: -166px -168px; } 
.sprite-comment_add { background-position: -166px -214px; } 
.sprite-comment_delete { background-position: -166px -260px; } 
.sprite-comment_edit { background-position: -166px -306px; } 
.sprite-compress { background-position: -166px -352px; } 
.sprite-computer { background-position: -166px -398px; } 
.sprite-cross { background-position: -166px -444px; } 
.sprite-delete { background-position: -166px -490px; } 
.sprite-disk { background-position: -166px -536px; } 
.sprite-dvd { background-position: -166px -582px; } 
.sprite-email { background-position: -166px -628px; } 
.sprite-email_add { background-position: -166px -674px; } 
.sprite-email_delete { background-position: -166px -720px; } 
.sprite-email_edit { background-position: -166px -766px; } 
.sprite-email_go { background-position: -166px -812px; } 
.sprite-email_open { background-position: -166px -858px; } 
.sprite-exclamation { background-position: -166px -904px; } 
.sprite-feed { background-position: -166px -950px; } 
.sprite-film { background-position: -166px -996px; } 
.sprite-film_add { background-position: -166px -1042px; } 
.sprite-film_delete { background-position: -166px -1088px; } 
.sprite-film_edit { background-position: -166px -1134px; } 
.sprite-group { background-position: -166px -1180px; } 
.sprite-group_add { background-position: -166px -1226px; } 
.sprite-group_delete { background-position: -166px -1272px; } 
.sprite-group_edit { background-position: -166px -1318px; } 
.sprite-help { background-position: -166px -1364px; } 
.sprite-image { background-position: -166px -1410px; } 
.sprite-image_add { background-position: -166px -1456px; } 
.sprite-image_delete { background-position: -166px -1502px; } 
.sprite-image_edit { background-position: -166px -1548px; } 
.sprite-information { background-position: -166px -1594px; } 
.sprite-key { background-position: -166px -1640px; } 
.sprite-lightbulb { background-position: -166px -1686px; } 
.sprite-lightbulb_off { background-position: -166px -1732px; } 
.sprite-link { background-position: -166px -1778px; } 
.sprite-link_break { background-position: -166px -1824px; } 
.sprite-link_edit { background-position: -166px -1870px; } 
.sprite-lock { background-position: -166px -1916px; } 
.sprite-lock_add { background-position: -166px -1962px; } 
.sprite-lock_delete { background-position: -332px -30px; } 
.sprite-lock_edit { background-position: -332px -76px; } 
.sprite-maier_zoom_out { background-position: -332px -122px; } 
.sprite-magnifier { background-position: -332px -168px; } 
.sprite-magnifier_zoom_in { background-position: -332px -214px; } 
.sprite-money_pound { background-position: -332px -260px; } 
.sprite-newspaper { background-position: -332px -306px; } 
.sprite-newspaper_add { background-position: -332px -352px; } 
.sprite-newspaper_delete { background-position: -332px -398px; } 
.sprite-note { background-position: -332px -444px; } 
.sprite-page_copy { background-position: -332px -490px; } 
.sprite-page_delete { background-position: -332px -536px; } 
.sprite-page_edit { background-position: -332px -582px; } 
.sprite-page_excel { background-position: -332px -628px; } 
.sprite-page_save { background-position: -332px -674px; } 
.sprite-page_white { background-position: -332px -720px; } 
.sprite-page_white_acrobat { background-position: -332px -766px; } 
.sprite-page_white_actionscript { background-position: -332px -812px; } 
.sprite-page_white_add { background-position: -332px -858px; } 
.sprite-page_white_camera { background-position: -332px -904px; } 
.sprite-page_white_cd { background-position: -332px -950px; } 
.sprite-page_white_code { background-position: -332px -996px; } 
.sprite-page_white_code_red { background-position: -332px -1042px; } 
.sprite-page_white_coldfusion { background-position: -332px -1088px; } 
.sprite-page_white_compressed { background-position: -332px -1134px; } 
.sprite-page_word { background-position: -332px -1180px; } 
.sprite-printer { background-position: -332px -1226px; } 
.sprite-sitemap { background-position: -332px -1272px; } 
.sprite-spellcheck { background-position: -332px -1318px; } 
.sprite-time { background-position: -332px -1364px; } 
.sprite-time_add { background-position: -332px -1410px; } 
.sprite-time_delete { background-position: -332px -1456px; } 
.sprite-user { background-position: -332px -1502px; } 
.sprite-user_add { background-position: -332px -1548px; } 
.sprite-user_comment { background-position: -332px -1594px; } 
.sprite-user_delete { background-position: -332px -1640px; } 
.sprite-user_edit { background-position: -332px -1686px; } 
.sprite-user_female { background-position: -332px -1732px; } 