img { 
	position:absolute; 
	top:0px;
	border:none;
}
.clear{
	clear:both;
}
#imageflow-images{
	visibility:hidden;
}
#imageflow-loading{
	margin-top:50px;
	text-align:center;
	width:100%;
}
#imageflow-loading img{
	margin-top:10px;
	position:relative; 
}
#imageflow-captions{
	font-weight:bold;
	position:relative; 
	text-align:center;
	z-index:10000;
}
#imageflow-scrollbar{
	visibility:hidden;
	position:relative; 
	border-bottom:1px solid #b3b3b3;
	z-index:10001;
}
#imageflow-slider{
	position:absolute;
	margin-top:-7px;
	margin-left:-7px;
	z-index:10002;
	background-image:url(slider.png);
	background-repeat:no-repeat;
	width:14px;
	height:14px;	
}
#imageflow{
	margin-left:350px;
	text-align:left;
}