	p{
		font-family:arial;
		
	}
	a{
		color:#000;
		font-family:arial;
		font-size:0.8em;
	}
	
	.dhtmlgoodies_tree,#floatingContainer{
		margin:0px;
		padding:0px;
	}
	.dhtmlgoodies_tree ul{	/* Sub menu groups */
		margin-left:20px;	/* Left spacing */
		padding-left:0px;
		display:none;	/* Initially hide sub nodes */
	}
	
	#floatingContainer ul{
		margin-left:20px;	/* Left spacing */
		padding-left:0px;	
	}
	.dhtmlgoodies_tree li,#floatingContainer li{	/* Nodes */
		list-style-type:none;
		vertical-align:middle;
		
	}
	.dhtmlgoodies_tree li a,#floatingContainer li a{	/* Node links */
		color:#000;
		text-decoration:none;
		font-family:arial;
		font-size:0.8em;
		padding-left:1px;
		line-height:13px;
		margin-left:2px;
		
	}
	.dhtmlgoodies_tree li a.highlightedNodeItem{
		color:#FFF;
		background-color:#009;
	}
	
		
	body{
		margin:0px;
		padding:0px;
	}
	
	.dhtmlgoodies_tree input.folderTreeTextBox{	/* Css for the text input - rename item */
		font-size:10px;
		margin:0px;
		padding:0px;
		height:12px;
	}
	/************************************************************************************************************

	DHTML Suite for Applications
	(C) www.dhtmlgoodies.com, August 2006

	CSS for the context menu class.
	
	Terms of use:
	Look at the terms of use at http://www.dhtmlgoodies.com/index.html?page=termsOfUse
	
	Thank you!
	
	www.dhtmlgoodies.com
	Alf Magne Kalleland

************************************************************************************************************/

.DHTMLSuite_contextMenu{	/* The bar that is parent of the menu strip */
	position:absolute;
	background-color:#FFF;
	border:1px solid #000;
	padding:1px;
}

.DHTMLSuite_contextMenu li{
	list-style-type:none;
	padding:1px;	/* Equal to border + padding of .DHTMLSuite_item_mouseover */
	border:0px;
	cursor: pointer;
	background-repeat:no-repeat;
	background-position:left center;
}
.DHTMLSuite_contextMenu .DHTMLSuite_item_mouseover{
	border:1px solid #000;
	background-color:#EEE;
	padding:0px;	/* Padding + border of this element should be equal to padding of li element (see above ) */
}
.DHTMLSuite_contextMenu ul{
	margin:0px;
	padding:0px;
}

.DHTMLSuite_contextMenu a{
	text-decoration:none;
	color:#000;
	padding-left:25px;
}

.DHTMLSuite_contextMenu div.DHTMLSuite_contextMenu_separator{	/* Css for the separator line */
	height:1px;
	line-height:1px;
	padding:0px;
	background-color: #AAA;
	overflow:hidden;
	margin-top:1px;
	margin-bottom:1px;
}
	