autosearch.sprite-as_pointer { background-position: 0 0; } 
autosearch.sprite-hl_corner_bl { background-position: 0 -60px; } 
autosearch.sprite-hl_corner_br { background-position: 0 -116px; } 
autosearch.sprite-hl_corner_tl { background-position: 0 -172px; } 
autosearch.sprite-hl_corner_tr { background-position: 0 -228px; } 
autosearch.sprite-ul_corner_bl { background-position: 0 -284px; } 
autosearch.sprite-ul_corner_br { background-position: 0 -340px; } 
autosearch.sprite-ul_corner_tl { background-position: 0 -396px; } 
autosearch.sprite-ul_corner_tr { background-position: 0 -452px; } 