.sprite{height:16px; width:18px; background:url(../../skin/csg-4a1fce2cd33df.png) no-repeat center center; border:0px; cursor:pointer; position:relative; top:3px; left:1px}
.sprite-accept { background-position: 0 -30px; } 
.sprite-add { background-position: 0 -76px; } 
.sprite-anchor { background-position: 0 -122px; } 
.sprite-application { background-position: 0 -168px; } 
.sprite-application_add { background-position: 0 -214px; } 
.sprite-application_cascade { background-position: 0 -260px; } 
.sprite-application_delete { background-position: 0 -306px; } 
.sprite-application_double { background-position: 0 -352px; } 
.sprite-application_edit { background-position: 0 -398px; } 
.sprite-application_error { background-position: 0 -444px; } 
.sprite-application_form_edit { background-position: 0 -490px; } 
.sprite-application_form_magnify { background-position: 0 -536px; } 
.sprite-application_get { background-position: 0 -582px; } 
.sprite-application_go { background-position: 0 -628px; } 
.sprite-application_home { background-position: 0 -674px; } 
.sprite-application_key { background-position: 0 -720px; } 
.sprite-application_lightning { background-position: 0 -766px; } 
.sprite-application_put { background-position: 0 -812px; } 
.sprite-application_side_tree { background-position: 0 -858px; } 
.sprite-application_view_gallery { background-position: 0 -904px; } 
.sprite-application_view_icons { background-position: 0 -950px; } 
.sprite-application_xp_terminal { background-position: 0 -996px; } 
.sprite-arrow_branch { background-position: 0 -1042px; } 
.sprite-arrow_divide { background-position: 0 -1088px; } 
.sprite-arrow_down { background-position: 0 -1134px; } 
.sprite-arrow_in { background-position: 0 -1180px; } 
.sprite-arrow_inout { background-position: 0 -1226px; } 
.sprite-arrow_join { background-position: 0 -1272px; } 
.sprite-arrow_left { background-position: 0 -1318px; } 
.sprite-arrow_merge { background-position: 0 -1364px; } 
.sprite-arrow_out { background-position: 0 -1410px; } 
.sprite-arrow_redo { background-position: 0 -1456px; } 
.sprite-arrow_refresh { background-position: 0 -1502px; } 
.sprite-arrow_refresh_small { background-position: 0 -1548px; } 
.sprite-arrow_right { background-position: 0 -1594px; } 
.sprite-arrow_rotate_anticlockwise { background-position: 0 -1640px; } 
.sprite-arrow_rotate_clockwise { background-position: 0 -1686px; } 
.sprite-arrow_switch { background-position: 0 -1732px; } 
.sprite-arrow_turn_left { background-position: 0 -1778px; } 
.sprite-arrow_turn_right { background-position: 0 -1824px; } 
.sprite-arrow_undo { background-position: 0 -1870px; } 
.sprite-arrow_up { background-position: 0 -1916px; } 
.sprite-attach { background-position: 0 -1962px; } 
.sprite-basket { background-position: -166px -30px; } 
.sprite-basket_add { background-position: -166px -76px; } 
.sprite-basket_delete { background-position: -166px -122px; } 
.sprite-basket_go { background-position: -166px -168px; } 
.sprite-bin { background-position: -166px -214px; } 
.sprite-bin_closed { background-position: -166px -260px; } 
.sprite-bin_empty { background-position: -166px -306px; } 
.sprite-book { background-position: -166px -352px; } 
.sprite-book_add { background-position: -166px -398px; } 
.sprite-book_addresses { background-position: -166px -444px; } 
.sprite-book_delete { background-position: -166px -490px; } 
.sprite-book_edit { background-position: -166px -536px; } 
.sprite-book_error { background-position: -166px -582px; } 
.sprite-book_go { background-position: -166px -628px; } 
.sprite-book_key { background-position: -166px -674px; } 
.sprite-building { background-position: -166px -720px; } 
.sprite-building_add { background-position: -166px -766px; } 
.sprite-building_delete { background-position: -166px -812px; } 
.sprite-building_edit { background-position: -166px -858px; } 
.sprite-bullet_add { background-position: -166px -904px; } 
.sprite-bullet_arrow_bottom { background-position: -166px -950px; } 
.sprite-bullet_arrow_down { background-position: -166px -996px; } 
.sprite-bullet_arrow_top { background-position: -166px -1042px; } 
.sprite-bullet_arrow_up { background-position: -166px -1088px; } 
.sprite-bullet_delete { background-position: -166px -1134px; } 
.sprite-bullet_disk { background-position: -166px -1180px; } 
.sprite-bullet_error { background-position: -166px -1226px; } 
.sprite-bullet_feed { background-position: -166px -1272px; } 
.sprite-bullet_go { background-position: -166px -1318px; } 
.sprite-bullet_green { background-position: -166px -1364px; } 
.sprite-bullet_key { background-position: -166px -1410px; } 
.sprite-bullet_wrench { background-position: -166px -1456px; } 
.sprite-cake { background-position: -166px -1502px; } 
.sprite-calendar { background-position: -166px -1548px; } 
.sprite-calendar_add { background-position: -166px -1594px; } 
.sprite-calendar_delete { background-position: -166px -1640px; } 
.sprite-calendar_edit { background-position: -166px -1686px; } 
.sprite-calendar_link { background-position: -166px -1732px; } 
.sprite-calendar_view_day { background-position: -166px -1778px; } 
.sprite-calendar_view_month { background-position: -166px -1824px; } 
.sprite-calendar_view_week { background-position: -166px -1870px; } 
.sprite-camera { background-position: -166px -1916px; } 
.sprite-camera_add { background-position: -166px -1962px; } 
.sprite-camera_delete { background-position: -332px -30px; } 
.sprite-camera_edit { background-position: -332px -76px; } 
.sprite-cancel { background-position: -332px -122px; } 
.sprite-cart { background-position: -332px -168px; } 
.sprite-cart_add { background-position: -332px -214px; } 
.sprite-cart_delete { background-position: -332px -260px; } 
.sprite-cart_edit { background-position: -332px -306px; } 
.sprite-cart_error { background-position: -332px -352px; } 
.sprite-cart_go { background-position: -332px -398px; } 
.sprite-cart_put { background-position: -332px -444px; } 
.sprite-cart_remove { background-position: -332px -490px; } 
.sprite-cd { background-position: -332px -536px; } 
.sprite-cd_add { background-position: -332px -582px; } 
.sprite-cd_burn { background-position: -332px -628px; } 
.sprite-cd_delete { background-position: -332px -674px; } 
.sprite-cd_edit { background-position: -332px -720px; } 
.sprite-chart_bar { background-position: -332px -766px; } 
.sprite-chart_bar_add { background-position: -332px -812px; } 
.sprite-chart_bar_delete { background-position: -332px -858px; } 
.sprite-chart_bar_edit { background-position: -332px -904px; } 
.sprite-chart_organisation { background-position: -332px -950px; } 
.sprite-chart_organisation_add { background-position: -332px -996px; } 
.sprite-chart_organisation_delete { background-position: -332px -1042px; } 
.sprite-clock { background-position: -332px -1088px; } 
.sprite-clock_add { background-position: -332px -1134px; } 
.sprite-clock_delete { background-position: -332px -1180px; } 
.sprite-clock_edit { background-position: -332px -1226px; } 
.sprite-clock_link { background-position: -332px -1272px; } 
.sprite-cog { background-position: -332px -1318px; } 
.sprite-cog_add { background-position: -332px -1364px; } 
.sprite-cog_delete { background-position: -332px -1410px; } 
.sprite-cog_edit { background-position: -332px -1456px; } 
.sprite-comment { background-position: -332px -1502px; } 
.sprite-comment_add { background-position: -332px -1548px; } 
.sprite-comment_delete { background-position: -332px -1594px; } 
.sprite-comment_edit { background-position: -332px -1640px; } 
.sprite-comments { background-position: -332px -1686px; } 
.sprite-comments_add { background-position: -332px -1732px; } 
.sprite-comments_delete { background-position: -332px -1778px; } 
.sprite-compress { background-position: -332px -1824px; } 
.sprite-computer_delete { background-position: -332px -1870px; } 
.sprite-computer_edit { background-position: -332px -1916px; } 
.sprite-computer_error { background-position: -332px -1962px; } 
.sprite-cut { background-position: -498px -30px; } 
.sprite-cut_red { background-position: -498px -76px; } 
.sprite-database { background-position: -498px -122px; } 
.sprite-database_add { background-position: -498px -168px; } 
.sprite-database_connect { background-position: -498px -214px; } 
.sprite-database_delete { background-position: -498px -260px; } 
.sprite-database_edit { background-position: -498px -306px; } 
.sprite-database_key { background-position: -498px -352px; } 
.sprite-database_lightning { background-position: -498px -398px; } 
.sprite-database_refresh { background-position: -498px -444px; } 
.sprite-database_save { background-position: -498px -490px; } 
.sprite-email { background-position: -498px -536px; } 
.sprite-email_add { background-position: -498px -582px; } 
.sprite-email_attach { background-position: -498px -628px; } 
.sprite-email_delete { background-position: -498px -674px; } 
.sprite-email_edit { background-position: -498px -720px; } 
.sprite-email_error { background-position: -498px -766px; } 
.sprite-email_go { background-position: -498px -812px; } 
.sprite-email_link { background-position: -498px -858px; } 
.sprite-email_open { background-position: -498px -904px; } 
.sprite-email_open_image { background-position: -498px -950px; } 
.sprite-emoticon_evilgrin { background-position: -498px -996px; } 
.sprite-emoticon_grin { background-position: -498px -1042px; } 
.sprite-emoticon_happy { background-position: -498px -1088px; } 
.sprite-emoticon_smile { background-position: -498px -1134px; } 
.sprite-emoticon_surprised { background-position: -498px -1180px; } 
.sprite-emoticon_tongue { background-position: -498px -1226px; } 
.sprite-emoticon_unhappy { background-position: -498px -1272px; } 
.sprite-emoticon_waii { background-position: -498px -1318px; } 
.sprite-emoticon_wink { background-position: -498px -1364px; } 
.sprite-error { background-position: -498px -1410px; } 
.sprite-error_add { background-position: -498px -1456px; } 
.sprite-error_delete { background-position: -498px -1502px; } 
.sprite-error_go { background-position: -498px -1548px; } 
.sprite-feed { background-position: -498px -1594px; } 
.sprite-feed_add { background-position: -498px -1640px; } 
.sprite-feed_delete { background-position: -498px -1686px; } 
.sprite-feed_disk { background-position: -498px -1732px; } 
.sprite-feed_edit { background-position: -498px -1778px; } 
.sprite-feed_error { background-position: -498px -1824px; } 
.sprite-feed_link { background-position: -498px -1870px; } 
.sprite-font { background-position: -498px -1916px; } 
.sprite-font_add { background-position: -498px -1962px; } 
.sprite-font_delete { background-position: -664px -30px; } 
.sprite-image { background-position: -664px -76px; } 
.sprite-image_add { background-position: -664px -122px; } 
.sprite-image_delete { background-position: -664px -168px; } 
.sprite-image_edit { background-position: -664px -214px; } 
.sprite-key { background-position: -664px -260px; } 
.sprite-key_add { background-position: -664px -306px; } 
.sprite-key_delete { background-position: -664px -352px; } 
.sprite-layers { background-position: -664px -398px; } 
.sprite-layout { background-position: -664px -444px; } 
.sprite-layout_add { background-position: -664px -490px; } 
.sprite-layout_content { background-position: -664px -536px; } 
.sprite-layout_delete { background-position: -664px -582px; } 
.sprite-layout_edit, .sprite-overlays { background-position: -664px -628px; } 
.sprite-layout_header { background-position: -664px -674px; } 
.sprite-layout_sidebar { background-position: -664px -720px; } 
.sprite-lightning { background-position: -664px -766px; } 
.sprite-lightning_add { background-position: -664px -812px; } 
.sprite-lightning_delete { background-position: -664px -858px; } 
.sprite-link { background-position: -664px -904px; } 
.sprite-link_add { background-position: -664px -950px; } 
.sprite-link_break { background-position: -664px -996px; } 
.sprite-link_delete { background-position: -664px -1042px; } 
.sprite-link_edit { background-position: -664px -1088px; } 
.sprite-link_error { background-position: -664px -1134px; } 
.sprite-link_go { background-position: -664px -1180px; } 
.sprite-lock { background-position: -664px -1226px; } 
.sprite-lock_add { background-position: -664px -1272px; } 
.sprite-lock_break { background-position: -664px -1318px; } 
.sprite-lock_delete { background-position: -664px -1364px; } 
.sprite-lock_edit { background-position: -664px -1410px; } 
.sprite-lock_go { background-position: -664px -1456px; } 
.sprite-lock_open { background-position: -664px -1502px; } 
.sprite-magifier_zoom_out { background-position: -664px -1548px; } 
.sprite-magnifier { background-position: -664px -1594px; } 
.sprite-magnifier_zoom_in { background-position: -664px -1640px; } 
.sprite-map { background-position: -664px -1686px; } 
.sprite-map_add { background-position: -664px -1732px; } 
.sprite-map_delete { background-position: -664px -1778px; } 
.sprite-map_edit { background-position: -664px -1824px; } 
.sprite-map_go { background-position: -664px -1870px; } 
.sprite-money { background-position: -664px -1916px; } 
.sprite-money_add { background-position: -664px -1962px; } 
.sprite-money_delete { background-position: -830px -30px; } 
.sprite-money_dollar { background-position: -830px -76px; } 
.sprite-money_euro { background-position: -830px -122px; } 
.sprite-money_pound { background-position: -830px -168px; } 
.sprite-money_yen { background-position: -830px -214px; } 
.sprite-page { background-position: -830px -260px; } 
.sprite-page_add { background-position: -830px -306px; } 
.sprite-page_attach { background-position: -830px -352px; } 
.sprite-page_code { background-position: -830px -398px; } 
.sprite-page_copy { background-position: -830px -444px; } 
.sprite-page_delete { background-position: -830px -490px; } 
.sprite-page_edit { background-position: -830px -536px; } 
.sprite-page_error { background-position: -830px -582px; } 
.sprite-page_excel { background-position: -830px -628px; } 
.sprite-page_find { background-position: -830px -674px; } 
.sprite-page_gear { background-position: -830px -720px; } 
.sprite-page_go { background-position: -830px -766px; } 
.sprite-page_green { background-position: -830px -812px; } 
.sprite-page_key { background-position: -830px -858px; } 
.sprite-page_lightning { background-position: -830px -904px; } 
.sprite-page_link { background-position: -830px -950px; } 
.sprite-page_paintbrush { background-position: -830px -996px; } 
.sprite-page_paste { background-position: -830px -1042px; } 
.sprite-page_red { background-position: -830px -1088px; } 
.sprite-page_refresh { background-position: -830px -1134px; } 
.sprite-page_save { background-position: -830px -1180px; } 
.sprite-page_white { background-position: -830px -1226px; } 
.sprite-page_white_acrobat { background-position: -830px -1272px; } 
.sprite-page_white_actionscript { background-position: -830px -1318px; } 
.sprite-page_white_add { background-position: -830px -1364px; } 
.sprite-page_white_c { background-position: -830px -1410px; } 
.sprite-page_white_camera { background-position: -830px -1456px; } 
.sprite-page_white_cd { background-position: -830px -1502px; } 
.sprite-page_white_code { background-position: -830px -1548px; } 
.sprite-page_white_code_red { background-position: -830px -1594px; } 
.sprite-page_white_coldfusion { background-position: -830px -1640px; } 
.sprite-page_white_compressed { background-position: -830px -1686px; } 
.sprite-page_white_copy { background-position: -830px -1732px; } 
.sprite-page_white_cup { background-position: -830px -1778px; } 
.sprite-page_white_database { background-position: -830px -1824px; } 
.sprite-page_white_delete { background-position: -830px -1870px; } 
.sprite-page_white_dvd { background-position: -830px -1916px; } 
.sprite-page_white_edit { background-position: -830px -1962px; } 
.sprite-page_white_error { background-position: -996px -30px; } 
.sprite-page_white_excel { background-position: -996px -76px; } 
.sprite-page_white_find { background-position: -996px -122px; } 
.sprite-page_white_flash { background-position: -996px -168px; } 
.sprite-page_white_freehand { background-position: -996px -214px; } 
.sprite-page_white_get { background-position: -996px -260px; } 
.sprite-page_white_key { background-position: -996px -306px; } 
.sprite-page_white_lightning { background-position: -996px -352px; } 
.sprite-page_white_magnify { background-position: -996px -398px; } 
.sprite-page_white_paint { background-position: -996px -444px; } 
.sprite-page_white_paintbrush { background-position: -996px -490px; } 
.sprite-page_white_paste { background-position: -996px -536px; } 
.sprite-page_white_php { background-position: -996px -582px; } 
.sprite-page_white_picture { background-position: -996px -628px; } 
.sprite-page_white_powerpoint { background-position: -996px -674px; } 
.sprite-page_white_star { background-position: -996px -720px; } 
.sprite-page_white_word { background-position: -996px -766px; } 
.sprite-page_white_wrench { background-position: -996px -812px; } 
.sprite-paste_plain { background-position: -996px -858px; } 
.sprite-paste_word { background-position: -996px -904px; } 
.sprite-pencil { background-position: -996px -950px; } 
.sprite-pencil_add { background-position: -996px -996px; } 
.sprite-pencil_delete { background-position: -996px -1042px; } 
.sprite-pencil_go { background-position: -996px -1088px; } 
.sprite-printer { background-position: -996px -1134px; } 
.sprite-printer_add { background-position: -996px -1180px; } 
.sprite-printer_delete { background-position: -996px -1226px; } 
.sprite-printer_empty { background-position: -996px -1272px; } 
.sprite-rss { background-position: -996px -1318px; } 
.sprite-rss_add { background-position: -996px -1364px; } 
.sprite-rss_delete { background-position: -996px -1410px; } 
.sprite-rss_go { background-position: -996px -1456px; } 
.sprite-rss_valid { background-position: -996px -1502px; } 
.sprite-shape_align_bottom { background-position: -996px -1548px; } 
.sprite-shape_align_center { background-position: -996px -1594px; } 
.sprite-shape_align_left { background-position: -996px -1640px; } 
.sprite-shape_align_middle { background-position: -996px -1686px; } 
.sprite-shape_align_right { background-position: -996px -1732px; } 
.sprite-shape_align_top { background-position: -996px -1778px; } 
.sprite-sport_basketball { background-position: -996px -1824px; } 
.sprite-sport_football { background-position: -996px -1870px; } 
.sprite-sport_golf { background-position: -996px -1916px; } 
.sprite-sport_raquet { background-position: -996px -1962px; } 
.sprite-sport_shuttlecock { background-position: -1162px -30px; } 
.sprite-sport_soccer { background-position: -1162px -76px; } 
.sprite-sport_tennis { background-position: -1162px -122px; } 
.sprite-star { background-position: -1162px -168px; } 
.sprite-status_away { background-position: -1162px -214px; } 
.sprite-status_busy { background-position: -1162px -260px; } 
.sprite-status_offline { background-position: -1162px -306px; } 
.sprite-status_online { background-position: -1162px -352px; } 
.sprite-telephone { background-position: -1162px -398px; } 
.sprite-telephone_add { background-position: -1162px -444px; } 
.sprite-telephone_delete { background-position: -1162px -490px; } 
.sprite-telephone_edit { background-position: -1162px -536px; } 
.sprite-textfield_rename { background-position: -1162px -582px; } 
.sprite-tick { background-position: -1162px -628px; } 
.sprite-time { background-position: -1162px -674px; } 
.sprite-time_add { background-position: -1162px -720px; } 
.sprite-time_delete { background-position: -1162px -766px; } 
.sprite-user { background-position: -1162px -812px; } 
.sprite-user_add { background-position: -1162px -858px; } 
.sprite-user_comment { background-position: -1162px -904px; } 
.sprite-user_delete { background-position: -1162px -950px; } 
.sprite-user_edit { background-position: -1162px -996px; } 
.sprite-user_female { background-position: -1162px -1042px; } 
.sprite-user_go { background-position: -1162px -1088px; } 
.sprite-user_gray { background-position: -1162px -1134px; } 
.sprite-user_green { background-position: -1162px -1180px; } 
.sprite-user_orange { background-position: -1162px -1226px; } 
.sprite-user_red { background-position: -1162px -1272px; } 
.sprite-user_suit { background-position: -1162px -1318px; } 
.sprite-vcard { background-position: -1162px -1364px; } 
.sprite-vcard_add { background-position: -1162px -1410px; } 
.sprite-vcard_delete { background-position: -1162px -1456px; } 
.sprite-vcard_edit { background-position: -1162px -1502px; } 
.sprite-weather_clouds { background-position: -1162px -1548px; } 
.sprite-weather_cloudy { background-position: -1162px -1594px; } 
.sprite-weather_lightning { background-position: -1162px -1640px; } 
.sprite-weather_rain { background-position: -1162px -1686px; } 
.sprite-weather_snow { background-position: -1162px -1732px; } 
.sprite-weather_sun { background-position: -1162px -1778px; } 
.sprite-world { background-position: -1162px -1824px; } 
.sprite-world_add { background-position: -1162px -1870px; } 
.sprite-world_delete { background-position: -1162px -1916px; } 
.sprite-world_edit { background-position: -1162px -1962px; } 
.sprite-world_link { background-position: -1328px -30px; } 
.sprite-wrench { background-position: -1328px -76px; } 
.sprite-wrench_orange { background-position: -1328px -122px; } 
.sprite-xhtml { background-position: -1328px -168px; } 
