body {
	/*
	background-color: #efefef;
	*/
}

body, html, input {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
}

.info {
	font-style:italic;
	font-size: 0.9em;
	color: #666666;
}
.container {
	position: absolute;
	height:100%;
	width:100%;
}
.centered {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 50%;
	margin: auto;
} 