.info {
	font-style:italic;
	font-size: 0.9em;
	color: #666666;
}
.container {
	position: absolute;
	height:100%;
	width:100%;
}
.centered {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 50%;
	margin: auto;
} 
#popupMask {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2000;
	background-color:#000;
	-moz-opacity: 0.55;
	opacity:.55;
	filter: alpha(opacity=55);
}
#popupContainer {
	position: absolute;
	z-index: 2001;
	top: 0px;
	left: 0px;
	display:none;
	padding: 0px;
}
#popupInner {
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
#popupFrame {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2002;
}
#popupTitleBar {
	background-color: #333344;
	color: #FFFFFF;
	font-weight: bold;
	height: 1.3em;
	padding: 5px;
	border-bottom: 2px solid #000000;
	border-top: 1px solid #78A3F2;
	border-left: 1px solid #78A3F2;
	border-right: 1px solid #204095;
	position: relative;
	z-index: 2003;
}
#popupTitle {
	float:left;
	font-size: 1.1em;
}
#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
}
#popupControls a span {
	display: block;
	height: 15px;
	width: 15px;
	text-indent: -9000px;
	background: url('../../skin/close.gif') no-repeat;
}
